In [69]:
import pandas as pd
import numpy as np
from stats_can import StatsCan
import json

In [ ]:
# bc = pd.read_csv('/home/austin/Desktop/nwhacks/BC/98-401-X2016070_English_CSV_data.csv')
# ab = pd.read_csv('/home/austin/Desktop/nwhacks/Alberta/98-401-X2016069_English_CSV_data.csv')
# on = pd.read_csv('/home/austin/Desktop/nwhacks/Ontario/98-401-X2016066_English_CSV_data.csv')
can = pd.read_csv('/home/austin/Downloads/98-401-X2016059_eng_CSV/98-401-X2016059_English_CSV_data.csv')

In [ ]:
# test = pd.read_csv('/home/austin/Downloads/CensusProfile2016-ProfilRecensement2016-20200111084058.csv', encoding = 'unicode_escape')

In [ ]:
van = bc[bc["GEO_NAME"] == "Vancouver"].reset_index()
van

In [ ]:
ab

In [ ]:
test

In [ ]:
sc = StatsCan()
# df = sc.table_to_df("98-316-X2016001")
df

In [ ]:
can

In [2]:
pc = pd.read_csv('/home/austin/Downloads/98-401-X2016048_eng_CSV(3)/98-401-X2016048_English_CSV_data.csv')

/home/austin/Desktop/nwhacks/ltn/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
labour_data = pc[pc['GEO_NAME'] == "Vancouver"].reset_index().iloc[1896:1918].reset_index()
labour_data

,level_0,index,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Profile of Population Centres (2247),Member ID: Profile of Population Centres (2247),Notes: Profile of Population Centres (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,1896,1370319,2016,973,1,Vancouver,4.4,5.7,1,973,Total Labour Force population aged 15 years an...,1897,226.0,1.25496e+06,651180,603790
1,1897,1370320,2016,973,1,Vancouver,4.4,5.7,1,973,Industry - NAICS2012 - not applicable,1898,227.0,23720,11055,12670
2,1898,1370321,2016,973,1,Vancouver,4.4,5.7,1,973,All industry categories,1899,228.0,1.23124e+06,640125,591125
3,1899,1370322,2016,973,1,Vancouver,4.4,5.7,1,973,"11 Agriculture, forestry, fishing and hunting",1900,NaN,10325,5340,4980
4,1900,1370323,2016,973,1,Vancouver,4.4,5.7,1,973,"21 Mining, quarrying, and oil and gas extraction",1901,NaN,4045,2890,1150
5,1901,1370324,2016,973,1,Vancouver,4.4,5.7,1,973,22 Utilities,1902,NaN,6325,4060,2265
6,1902,1370325,2016,973,1,Vancouver,4.4,5.7,1,973,23 Construction,1903,NaN,89035,77825,11210
7,1903,1370326,2016,973,1,Vancouver,4.4,5.7,1,973,31-33 Manufacturing,1904,NaN,78265,52420,25845
8,1904,1370327,2016,973,1,Vancouver,4.4,5.7,1,973,41 Wholesale trade,1905,NaN,50820,33080,17745
9,1905,1370328,2016,973,1,Vancouver,4.4,5.7,1,973,44-45 Retail trade,1906,NaN,139465,65525,73940
10,1906,1370329,2016,973,1,Vancouver,4.4,5.7,1,973,48-49 Transportation and warehousing,1907,NaN,68470,53005,15470
11,1907,1370330,2016,973,1,Vancouver,4.4,5.7,1,973,51 Information and cultural industries,1908,NaN,47820,30085,17735
12,1908,1370331,2016,973,1,Vancouver,4.4,5.7,1,973,52 Finance and insurance,1909,NaN,60870,26910,33965
13,1909,1370332,2016,973,1,Vancouver,4.4,5.7,1,973,53 Real estate and rental and leasing,1910,NaN,32600,17940,14660
14,1910,1370333,2016,973,1,Vancouver,4.4,5.7,1,973,"54 Professional, scientific and technical serv...",1911,NaN,123930,69685,54250
15,1911,1370334,2016,973,1,Vancouver,4.4,5.7,1,973,55 Management of companies and enterprises,1912,NaN,2915,1330,1585
16,1912,1370335,2016,973,1,Vancouver,4.4,5.7,1,973,"56 Administrative and support, waste managemen...",1913,NaN,56980,32965,24005
17,1913,1370336,2016,973,1,Vancouver,4.4,5.7,1,973,61 Educational services,1914,NaN,92000,31715,60285
18,1914,1370337,2016,973,1,Vancouver,4.4,5.7,1,973,62 Health care and social assistance,1915,NaN,127730,26480,101255
19,1915,1370338,2016,973,1,Vancouver,4.4,5.7,1,973,"71 Arts, entertainment and recreation",1916,NaN,28825,14610,14210
20,1916,1370339,2016,973,1,Vancouver,4.4,5.7,1,973,72 Accommodation and food services,1917,NaN,105250,46385,58865
21,1917,1370340,2016,973,1,Vancouver,4.4,5.7,1,973,81 Other services (except public administration),1918,NaN,56140,23020,33120

In [14]:
labour_data[""]

CENSUS_YEAR                                                                         2016
GEO_CODE (POR)                                                                         1
GEO_LEVEL                                                                              1
GEO_NAME                                                                           Acton
GNR                                                                                  2.2
GNR_LF                                                                               5.3
DATA_QUALITY_FLAG                                                                      0
ALT_GEO_CODE                                                                           1
DIM: Profile of Population Centres (2247)          Industry - NAICS2012 - not applicable
Member ID: Profile of Population Centres (2247)                                     1898
Notes: Profile of Population Centres (2247)                                          227
Dim: Sex (3): Member ID: [1]: Total - Sex                                             70
Dim: Sex (3): Member ID: [2]: Male                                                    30
Dim: Sex (3): Member ID: [3]: Female                                                  35
Name: 1897, dtype: object

In [118]:
def get_pc_attribute(df, city, idxs, attrib_name):
        """ Returns the df of a specific attribute a Population Centre"""
        attrib_data = df[df['GEO_NAME'] == city].reset_index().iloc[idxs[0]:idxs[1]].reset_index()
        new_df = pd.DataFrame()
        new_df[attrib_name] = attrib_data["DIM: Profile of Population Centres (2247)"]
        new_df["count"] = attrib_data["Dim: Sex (3): Member ID: [1]: Total - Sex"]
        new_df[attrib_name + "_rate"] = new_df[attrib_name + "_count"]/new_df[attrib_name + "_count"].sum()
        return new_df
    
def trim_labour_data(labour_df, col_name):
        labour_df[col_name] = labour_df[col_name].str.extract(r'.*? (.*)')
        return labour_df

tor = get_pc_attribute(pc, "Toronto", (1899, 1919), "labour_category")
tor_trim = trim_labour_data(tor, "labour_category")

tor_trim.to_dict('records')

[{'labour_category': 'Agriculture, forestry, fishing and hunting',
  'labour_category_count': 5115.0,
  'labour_category_rate': 0.0017832023385574364},
 {'labour_category': 'Mining, quarrying, and oil and gas extraction',
  'labour_category_count': 3950.0,
  'labour_category_rate': 0.0013770575243991932},
 {'labour_category': 'Utilities',
  'labour_category_count': 13965.0,
  'labour_category_rate': 0.004868508437527781},
 {'labour_category': 'Construction',
  'labour_category_count': 163810.0,
  'labour_category_rate': 0.05710779571438781},
 {'labour_category': 'Manufacturing',
  'labour_category_count': 256170.0,
  'labour_category_rate': 0.08930653823426363},
 {'labour_category': 'Wholesale trade',
  'labour_category_count': 128255.0,
  'labour_category_rate': 0.044712534884004694},
 {'labour_category': 'Retail trade',
  'labour_category_count': 307460.0,
  'labour_category_rate': 0.1071873687219686},
 {'labour_category': 'Transportation and warehousing',
  'labour_category_count': 153930.0,
  'labour_category_rate': 0.05366340879259945},
 {'labour_category': 'Information and cultural industries',
  'labour_category_count': 100825.0,
  'labour_category_rate': 0.035149829087987},
 {'labour_category': 'Finance and insurance',
  'labour_category_count': 233060.0,
  'labour_category_rate': 0.08124988016113316},
 {'labour_category': 'Real estate and rental and leasing',
  'labour_category_count': 76725.0,
  'labour_category_rate': 0.026748035078361546},
 {'labour_category': 'Professional, scientific and technical services',
  'labour_category_count': 317960.0,
  'labour_category_rate': 0.11084790138176392},
 {'labour_category': 'Management of companies and enterprises',
  'labour_category_count': 7965.0,
  'labour_category_rate': 0.00277677548907331},
 {'labour_category': 'Administrative and support, waste management and remediation services',
  'labour_category_count': 148930.0,
  'labour_category_rate': 0.05192029800222072},
 {'labour_category': 'Educational services',
  'labour_category_count': 208170.0,
  'labour_category_rate': 0.07257267464662787},
 {'labour_category': 'Health care and social assistance',
  'labour_category_count': 265290.0,
  'labour_category_rate': 0.09248597231591443},
 {'labour_category': 'Arts, entertainment and recreation',
  'labour_category_count': 57575.0,
  'labour_category_rate': 0.020071920751211027},
 {'labour_category': 'Accommodation and food services',
  'labour_category_count': 189685.0,
  'labour_category_rate': 0.06612839405459772},
 {'labour_category': 'Other services (except public administration)',
  'labour_category_count': 123585.0,
  'labour_category_rate': 0.043084469405790964},
 {'labour_category': 'Public administration',
  'labour_category_count': 106010.0,
  'labour_category_rate': 0.03695743497760974}]

In [92]:
tor['rate'] = tor['count']/tor['count'].sum()

In [93]:
tor.sum()

labour_category    11 Agriculture, forestry, fishing and hunting2...
count                                                    2.86844e+06
rate                                                               1
dtype: object

In [94]:
tor["new_lab"] = tor["labour_category"].str.extract(r'.*? (.*)')

In [95]:
tor

,labour_category,count,rate,new_lab
0,"11 Agriculture, forestry, fishing and hunting",5115,0.0017832,"Agriculture, forestry, fishing and hunting"
1,"21 Mining, quarrying, and oil and gas extraction",3950,0.00137706,"Mining, quarrying, and oil and gas extraction"
2,22 Utilities,13965,0.00486851,Utilities
3,23 Construction,163810,0.0571078,Construction
4,31-33 Manufacturing,256170,0.0893065,Manufacturing
5,41 Wholesale trade,128255,0.0447125,Wholesale trade
6,44-45 Retail trade,307460,0.107187,Retail trade
7,48-49 Transportation and warehousing,153930,0.0536634,Transportation and warehousing
8,51 Information and cultural industries,100825,0.0351498,Information and cultural industries
9,52 Finance and insurance,233060,0.0812499,Finance and insurance
10,53 Real estate and rental and leasing,76725,0.026748,Real estate and rental and leasing
11,"54 Professional, scientific and technical serv...",317960,0.110848,"Professional, scientific and technical services"
12,55 Management of companies and enterprises,7965,0.00277678,Management of companies and enterprises
13,"56 Administrative and support, waste managemen...",148930,0.0519203,"Administrative and support, waste management a..."
14,61 Educational services,208170,0.0725727,Educational services
15,62 Health care and social assistance,265290,0.092486,Health care and social assistance
16,"71 Arts, entertainment and recreation",57575,0.0200719,"Arts, entertainment and recreation"
17,72 Accommodation and food services,189685,0.0661284,Accommodation and food services
18,81 Other services (except public administration),123585,0.0430845,Other services (except public administration)
19,91 Public administration,106010,0.0369574,Public administration

In [96]:
# making base json file
base = {}
base['labour'] = {}
base['commute_time'] = {}
base['commute_mode'] = {}
base['cost_living'] = {}
base['']

KeyError: ''

In [97]:
json.dump(base, open(r'base.json','w'))

In [106]:
tor.set_index('labour_category')

dict(zip(tor['new_lab'], tor['count'], tor['rate']))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [110]:
dict(zip('count', tor['count']))
tor.to_dict('records')

[{'labour_category': '11 Agriculture, forestry, fishing and hunting',
  'count': 5115.0,
  'rate': 0.0017832023385574364,
  'new_lab': 'Agriculture, forestry, fishing and hunting'},
 {'labour_category': '21 Mining, quarrying, and oil and gas extraction',
  'count': 3950.0,
  'rate': 0.0013770575243991932,
  'new_lab': 'Mining, quarrying, and oil and gas extraction'},
 {'labour_category': '22 Utilities',
  'count': 13965.0,
  'rate': 0.004868508437527781,
  'new_lab': 'Utilities'},
 {'labour_category': '23 Construction',
  'count': 163810.0,
  'rate': 0.05710779571438781,
  'new_lab': 'Construction'},
 {'labour_category': '31-33 Manufacturing',
  'count': 256170.0,
  'rate': 0.08930653823426363,
  'new_lab': 'Manufacturing'},
 {'labour_category': '41 Wholesale trade',
  'count': 128255.0,
  'rate': 0.044712534884004694,
  'new_lab': 'Wholesale trade'},
 {'labour_category': '44-45 Retail trade',
  'count': 307460.0,
  'rate': 0.1071873687219686,
  'new_lab': 'Retail trade'},
 {'labour_category': '48-49 Transportation and warehousing',
  'count': 153930.0,
  'rate': 0.05366340879259945,
  'new_lab': 'Transportation and warehousing'},
 {'labour_category': '51 Information and cultural industries',
  'count': 100825.0,
  'rate': 0.035149829087987,
  'new_lab': 'Information and cultural industries'},
 {'labour_category': '52 Finance and insurance',
  'count': 233060.0,
  'rate': 0.08124988016113316,
  'new_lab': 'Finance and insurance'},
 {'labour_category': '53 Real estate and rental and leasing',
  'count': 76725.0,
  'rate': 0.026748035078361546,
  'new_lab': 'Real estate and rental and leasing'},
 {'labour_category': '54 Professional, scientific and technical services',
  'count': 317960.0,
  'rate': 0.11084790138176392,
  'new_lab': 'Professional, scientific and technical services'},
 {'labour_category': '55 Management of companies and enterprises',
  'count': 7965.0,
  'rate': 0.00277677548907331,
  'new_lab': 'Management of companies and enterprises'},
 {'labour_category': '56 Administrative and support, waste management and remediation services',
  'count': 148930.0,
  'rate': 0.05192029800222072,
  'new_lab': 'Administrative and support, waste management and remediation services'},
 {'labour_category': '61 Educational services',
  'count': 208170.0,
  'rate': 0.07257267464662787,
  'new_lab': 'Educational services'},
 {'labour_category': '62 Health care and social assistance',
  'count': 265290.0,
  'rate': 0.09248597231591443,
  'new_lab': 'Health care and social assistance'},
 {'labour_category': '71 Arts, entertainment and recreation',
  'count': 57575.0,
  'rate': 0.020071920751211027,
  'new_lab': 'Arts, entertainment and recreation'},
 {'labour_category': '72 Accommodation and food services',
  'count': 189685.0,
  'rate': 0.06612839405459772,
  'new_lab': 'Accommodation and food services'},
 {'labour_category': '81 Other services (except public administration)',
  'count': 123585.0,
  'rate': 0.043084469405790964,
  'new_lab': 'Other services (except public administration)'},
 {'labour_category': '91 Public administration',
  'count': 106010.0,
  'rate': 0.03695743497760974,
  'new_lab': 'Public administration'}]